<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_h_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{810,119}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{810,119}}</string>
                <key>sourceSize</key>
                <string>{810,135}</string>
            </dict>
            <key>e_h_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{810,117}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{810,117}}</string>
                <key>sourceSize</key>
                <string>{810,135}</string>
            </dict>
            <key>e_h_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,617},{810,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{810,105}}</string>
                <key>sourceSize</key>
                <string>{810,135}</string>
            </dict>
            <key>e_h_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,722},{810,89}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{810,89}}</string>
                <key>sourceSize</key>
                <string>{810,135}</string>
            </dict>
            <key>e_h_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,139},{806,103}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{806,103}}</string>
                <key>sourceSize</key>
                <string>{810,135}</string>
            </dict>
            <key>e_h_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,814},{810,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{810,135}}</string>
                <key>sourceSize</key>
                <string>{810,135}</string>
            </dict>
            <key>e_h_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,814},{810,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{810,135}}</string>
                <key>sourceSize</key>
                <string>{810,135}</string>
            </dict>
            <key>e_h_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1626},{810,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{810,135}}</string>
                <key>sourceSize</key>
                <string>{810,135}</string>
            </dict>
            <key>e_h_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{810,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{810,135}}</string>
                <key>sourceSize</key>
                <string>{810,135}</string>
            </dict>
            <key>e_h_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,365},{810,117}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{810,117}}</string>
                <key>sourceSize</key>
                <string>{810,135}</string>
            </dict>
            <key>e_h_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{810,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{810,135}}</string>
                <key>sourceSize</key>
                <string>{810,135}</string>
            </dict>
            <key>e_h_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,814},{810,131}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{810,131}}</string>
                <key>sourceSize</key>
                <string>{810,135}</string>
            </dict>
            <key>e_h_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{810,117}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{810,117}}</string>
                <key>sourceSize</key>
                <string>{810,135}</string>
            </dict>
            <key>e_v_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,244},{119,810}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{119,810}}</string>
                <key>sourceSize</key>
                <string>{135,810}</string>
            </dict>
            <key>e_v_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,603},{117,810}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{117,810}}</string>
                <key>sourceSize</key>
                <string>{135,810}</string>
            </dict>
            <key>e_v_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1763},{105,810}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{105,810}}</string>
                <key>sourceSize</key>
                <string>{135,810}</string>
            </dict>
            <key>e_v_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1870},{89,810}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{89,810}}</string>
                <key>sourceSize</key>
                <string>{135,810}</string>
            </dict>
            <key>e_v_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,813},{103,806}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{103,806}}</string>
                <key>sourceSize</key>
                <string>{135,810}</string>
            </dict>
            <key>e_v_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,814},{135,810}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,810}}</string>
                <key>sourceSize</key>
                <string>{135,810}</string>
            </dict>
            <key>e_v_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{135,810}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,810}}</string>
                <key>sourceSize</key>
                <string>{135,810}</string>
            </dict>
            <key>e_v_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,2},{135,810}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,810}}</string>
                <key>sourceSize</key>
                <string>{135,810}</string>
            </dict>
            <key>e_v_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,2},{135,810}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,810}}</string>
                <key>sourceSize</key>
                <string>{135,810}</string>
            </dict>
            <key>e_v_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{117,810}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{117,810}}</string>
                <key>sourceSize</key>
                <string>{135,810}</string>
            </dict>
            <key>e_v_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,2},{135,810}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,810}}</string>
                <key>sourceSize</key>
                <string>{135,810}</string>
            </dict>
            <key>e_v_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,814},{131,810}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{131,810}}</string>
                <key>sourceSize</key>
                <string>{135,810}</string>
            </dict>
            <key>e_v_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,484},{117,810}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{117,810}}</string>
                <key>sourceSize</key>
                <string>{135,810}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>res2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bff46f067beb875d9004478a59dd60b:1/1$</string>
            <key>textureFileName</key>
            <string>res2.png</string>
        </dict>
    </dict>
</plist>
